/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 8em;
}

/* ///// BIO ///// */

#Bio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#Writing{
    width: 40%;
    font-size: larger;
}

#Pic{
    width: 30em;
    margin-top: 2em;

}

#Pic img{
    width: 100%;
    border-radius: 10px;
}

    /* /// Message /// */

    #Message{
        font-size: 1.5em;

        text-align: center;
    }


/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){

    .Row-S2{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #Main{
        top: 5em;
    }

    .Project-Header{
        font-size: 1em;
        text-align: center;
    }

    /* /// BIO /// */

    #Bio{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: 100%;
    }
    
    #Writing{
        width: 80%;
        font-size: 1.5em;

        margin: 0 auto;
    }

    #Writing h1{
        text-align: center;
    }
    
    #Pic{
        width: 20em;
        margin-top: 2em;

        margin: 0 auto;
    
    }
    
    #Pic img{
        width: 100%;
        border-radius: 10px;

    }

    /* /// Message /// */

    #Message{
        font-size: 1.2em;
        margin: 0 1em;
    }

}