@font-face {
    font-family: "Downtown";
    src: url("/CSS/Fonts/Forum-Regular.ttf");
  }
  
  *{
    //border: 1px solid red;
    font-family: "Downtown";
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* Cat gif background */
  
  body{
    position: relative;
    background-color: #fff9ea;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    left: -.49em;
    top: -.49em;
  }
  
  /* Header */
  
  #Header{
    display: block;
    position: fixed;
    height: auto;
    overflow: scroll;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #284ca0;
    z-index: 10;
  }
  
  #Header img{
    position: relative;
    display: inline-block;
    height: 3em;
    width: 2em;
    top: .7em;
    margin: 0 .5em;
  }
  
  #Header h1{
    display: inline-block;
    color: #fff9ea;
  }
  
  #Header ul{
    position: fixed;
    float: right;
    list-style-type: none;
    top: .7em;
    right: 0em;
    font-size: 20px;
  }
  
  #Header li{
    display: inline;
    color: #fff9ea;
    margin: auto 1.07em;
    transition: color 100ms linear;
  }
  
  #Header li:hover{
    color: #ffc756;
  }

  .Nav a:hover{
    color: #ffc756;
  }
  
  .Nav a{
    display: inline;
    color: #fff9ea;
    transition: color 100ms linear;
    text-decoration: none;
  }
  
  /* "Works" drop down menu */
  
  
  
  #works-nav li{
    display: block;
    position: relative;
    text-align: center;
    right: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    min-width: 3em;
  }
  
  #works-nav a{
    text-decoration: none;
    color: #fff9ea;
    transition: color 100ms linear;
  }
  
  #works-nav a:hover{
    color: #ffc756;
  }
  
  #works-nav ul{
    background-color: #284ca0;
    position: fixed;
    right: 13.7em;
    top: 2.9em;
    width: 10%;
    overflow: hidden;
    height: 0em;
    transition: height 500ms ease-in .7s;
    min-width: 5em;
  }
  
  #Header #open{
    background-color: transparent;
    display: inline-block;
    height: 4em;
    width: 7em;
    position: fixed;
    top: 1em;
    right: 18.7em;
  }
  
  #Header #open:hover ~ #works-nav ul{
    height: 11em;
    transition: height 500ms ease-out;
  }
  
  #works-nav:hover ul{
    height: 11em;
    transition: height 500ms ease-out;
  }






    /* Phone version css */
  
    @media only screen and (max-width: 500px){
    
        /* Header */
        
        #Header img{
          position: relative;
          display: inline-block;
          height: 3em;
          width: 2em;
          left: 30%;
          top: .7em;
          margin: 0 .5em;
        }
        
        #Header h1{
          position: relative;
          left: 30%;
        }
        
        #Header ul{
          position: fixed;
          top: 3em;
          right: 2em;
        }
        
        #Header{
          height: 7em;
        }
        
        #Header #open{
          background-color: transparent;
          display: inline-block;
          height: 2em;
          width: 7em;
          position: fixed;
          top: 5em;
          right: 21.7em;
        }
        
        /* drop down */
        
        #works-nav ul{
          background-color: #284ca080;
          position: fixed;
          right: 16em;
          top: 4.55em;
          width: 10%;
          overflow: hidden;
          height: 0em;
          transition: height 500ms ease-in .7s;
          min-width: 5em;
        }

    }

