/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 7em;
}

/* /// MAIN ITEM /// */

#Main-Item{
    text-align: left;
    align-items: center;
    height: 30em;
    overflow: hidden;
    margin: 0 3.5em;
}

#Main-Item iframe{
    border-radius: 25px;
    width: 50em;
}

/* /// MENU ITEMS /// */

.Menu-item{
    position: relative;
    height: 17em;
    width: 25em;

    border-radius: 20px;

    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Menu-item:hover{
    width: 26em;
}

.Menu-item h1{
    background-color: transparent;
}

#Short{
    background-image: url("/Assets/Characters/Hale/Hale-Menu-Img.webp");
    background-size: cover;
}

#Char{
    background-image: url("/Assets/Menu Images/Characters-min.webp");
    background-size: cover;
}

#Mode{
    background-image: url("/Assets/Menu Images/Modeling.png");
    background-size: cover;
}

/* /// TIMELINE ///  */

#Bloopers{
    position: relative;
    height: 17em;
    width: 50em;
    margin: 1em auto;

    text-align: center;

    border: 1px black solid;
    border-radius: 20px;

    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Bloopers:hover{
    width: 52em;
}

/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){

    .Row-S2{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #Main{
        top: 5em;
    }

    #Main-Item{
        width: 22em;
        text-align: center;
        margin: 0 auto;
    }

    #Main-Item iframe{
        width: 22em;
        border-radius: 10px;
        margin: 1em;
    }

    .Menu-item{
        width: 20em;
        margin: 1em auto;
    }

    .Menu-item:hover{
        width: 20em;
    }

    #Bloopers{
        width: 23em;
    }

    #Bloopers:hover{
        width: 23em;
    }

    .Project-Header{
        font-size: 1em;
        text-align: center;
    }

}