/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 10em;
}

/* /// MAIN ITEM /// */

#Main-Item{
    text-align: left;
    align-items: center;
    height: 22em;
    overflow: hidden;
    margin: 0 3.5em;
}

#Main-Item iframe{
    border-radius: 25px;
    width: 50em;
    transition: all .5s;
}

#Main-Item iframe:hover{
    width: 52em;
}

.Project-Header{
    line-height: 90%;
}

/* /// MENU ITEMS /// */

.Menu-item{
    position: relative;
    height: 17em;
    width: 25em;

    border-radius: 20px;

    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Menu-item:hover{
    width: 26em;
}

.Menu-item h1{
    background-color: transparent;
}

#Short{
    background-image: url("/Assets/Characters/Hale/Hale-Menu-Img.webp");
    background-size: cover;
}

#Char{
    background-image: url("/Assets/Menu Images/Characters-min.webp");
    background-size: cover;
}

#Mode{
    background-image: url("/Assets/Menu Images/Modeling.png");
    background-size: cover;
}

/* /// TIMELINE ///  */

#Latest{
    position: relative;
    height: 30em;
    width: 40em;
    margin: 2.2em auto;

    text-align: center;

    border-radius: 20px;

    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-image: url("/Assets/Menu Images/Blue Screen.png");
    background-size: cover;
    background-position: 0em;

}

#Latest h1{
    display: block;
    background-color: transparent;
}

#Latest div{
    background-color: transparent;
}

#Latest:hover{
    width: 41em;
}

/* /// TIMELINE ///  */

#Bloopers{
    position: relative;
    height: 17em;
    width: 50em;
    margin: 2.2em auto;

    text-align: center;

    border-radius: 20px;

    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-image: url("/Assets/Menu Images/Timeline@8x-8.png");
    background-size: cover;
    background-position: -1.7em;

}

#Bloopers h1{
    display: block;
    background-color: #fbb03b;
}

#Bloopers:hover{
    width: 51em;
}

/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){

    .Row-S2{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #Main{
        top: 6em;
    }

    #Main-Item{
        width: 23em;
        text-align: center;
        margin: 0 auto;

        height: 26em;
    }

    #Main-Item iframe{
        width: 23em;
        border-radius: 10px;
        margin: 1em;
    }

    #Main-Item iframe:hover{
        width: 22em;
    }

    .Menu-item{
        width: 20em;
        margin: 1em auto;
    }

    .Menu-item:hover{
        width: 20em;
    }

    #Latest{
        width: 23em;

        overflow: hidden;
    }

    #Latest:hover{
        width: 23em;
    }

    #Bloopers{
        width: 23em;

        overflow: hidden;
    }

    #Bloopers:hover{
        width: 23em;
    }

    .Project-Header{
        font-size: 1.2em;
        text-align: center;

        line-height: 100%;
    }

}

@media (max-width: 300px) and (min-width: 0px){

    .Row-S2{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #Main{
        top: 6em;
    }

    #Main-Item{
        width: 17em;
        text-align: center;
        margin: 0 auto;

        height: 26em;
    }

    #Main-Item iframe{
        width: 17em;
        border-radius: 10px;
        margin: 1em;
    }

    #Main-Item iframe:hover{
        width: 17em;
    }

    .Menu-item{
        width: 15em;
        margin: 1em auto;
    }

    .Menu-item:hover{
        width: 20em;
    }

    #Bloopers{
        width: 17em;

        overflow: hidden;
    }

    #Bloopers:hover{
        width: 23em;
    }

    .Project-Header{
        font-size: 1.2em;
        text-align: center;

        line-height: 100%;
    }

    #Footer{
        width: 16em;
        font-size: .9em;
    }


}

@media (max-width: 1200px) and (min-width: 831px){

    #Main{
        top: 6em;
    }

    #Main-Item{
        width: 100%;
        text-align: center;
        margin: 0 auto;

        height: 26em;

    }

    #Main-Item iframe{
        width: 40em;
        border-radius: 10px;
        margin: 1em;
    }

    #Main-Item iframe:hover{
        width: 42em;
    }

    .Menu-item{
        width: 17em;
        margin: 1em auto;
    }

    .Menu-item:hover{
        width: 18em;
    }

    #Bloopers{
        width: 30em;
    }

    #Bloopers:hover{
        width: 32em;
    }

    .Project-Header{
        font-size: 1.3em;
        text-align: center;

        line-height: 170%;
    }

}