@font-face {
  font-family: "Six Caps";
  src: url(CSS/Fonts/SixCaps-Regular.ttf) format(truetype);
}

*{
  //border: 1px solid yellow;
  background-color: #fff9ea;
  box-sizing: border-box;
}

p{
 font-size: 50px;
 text-align: center;
 color: black;
 display: inline-block;
}

ul{
  background-color: #284ca0;
  list-style-type: none;
}


.tab{
  position: relative;
  display: inline-block;
  background-color: #284ca0;
  height: 1000px;
  width: 30%;
  text-align: center;
  position: relative;
  left: -10px;
  margin: 0;
}

.tab p{
  background-color: #284ca0;
  color: #fff9ea;
  font-size: 30px;
  top: 20px;
}

/* header */

.header{
  position: fixed;
  width: 100%;
  height: 8%;
  background-color: #284ca0;
  top: 0;
  left: 0;
  z-index: 30;
  text-align: right;
}

.header p{
  position: fixed;
  display: inline-block;
  font-size: 20px;
  background-color: #284ca0;
  color: #fff9ea;
  top: 4px;
  right: 210px;
  padding: 0 20px;
}

.header li{
  display: inline-block;
  position: relative;
  font-size: 20px;
  background-color: #284ca0;
  color: #fff9ea;
  width: 90px;
  right: 20px;
  text-align: center;
  transition: color .2s linear;
  top: 7px;
}

.header li:hover{
  color: #ffc756;
}

/* logo */

.logo .logo-text{
  display: inline;
  position: absolute;
  font-family: "Six Caps";
  font-size: 40px;
  right: 85%;
  top: 5px;
  background-color: #284ca0;
  color: #fff9ea;
  margin: 0;
  height: 50px;
  letter-spacing: .05em;
}

.logo img{
  display: inline;
  position: fixed;
  top: 7px;
  right: 95%;
  width: 2%;
  height: auto;
  z-index: 10;
  background-color: #284ca0;
}

/* "Works" drop down menu */

.drop-down{
  display: inline-block;
  position: fixed;
  top: 35px;
  right: 0px;
  text-align: center;
  height: 0px;
}

.drop-down ul{
  height: 0px;
  transition: height 700ms ease-out;
  overflow: hidden;
  z-index: 10;
  width: 35%;
  position: relative;
  top: 0;
  left: 110px;
}

.drop-down li{
  background-color: rgba(0,0,0,0);
  color: #fff9ea;
  font-size: 20px;
  margin-top: 30px;
  margin-right: 40px;
  transition: opacity 100ms linear;
  text-align: center;
  position: relative;
  left: -10px;
}

.drop-down li:hover{
  color: #ffc756;
}

.drop-down ul:hover{
  height: 200px;
}

#open:hover + ul{
  height: 200px;
}

#open:hover{
  color: #ffc756;
}
