@font-face {
    font-family: "Oswald";
    src: url('/CSS/Fonts/Oswald/Oswald-VariableFont_wght.ttf');
}

/* If people don't like motion */

@media(prefers-reduced-motion){
    *{
        transition: none;
    }
}

html{
    height: 100%;
    width: 100%;
}

body{
    position: relative;
    right: .5em;
    top: 3.95em;

    display: flex;
    min-height: 100%;
    min-width: 100%;

    background-color: #131619;

    flex-direction: column;

}

/* ///////Animate on Scroll/////// */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/*/////////// Header ///////////*/

#Header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;

    width: 100%;
    height: 10%;
    background-color: #182444;

    z-index: 70;

    justify-content: space-between;

    /* overflow: hidden; */
}

/* Logo/Left Side */

#logo img{
    position: relative;
    display: inline-block;
    height: 3em;
    width: 2em;
    top: .7em;
    margin: 0 .5em;
  }
  
#logo h1{
    display: inline-block;
    color: #fff9ea;
  }


/* Nav Bar/Right Side */

#nav-bar ul{
    list-style-type: none;
    margin-top: 2em;
}

#nav-bar li{
    display: inline;
    margin: 0 3em;

    color: #fff9ea;
    transition: color 100ms linear;
}

#nav-bar a{
    text-decoration: none;
}

/* Hover interactions */

#nav-bar li:hover{
    color: #ec703b;
}

/* Works Sub Menu */

#Works-Menu{
    background-image: linear-gradient(#182444 20%, #000000);

    display: flex;
    flex-direction: column;

    position: fixed;
    z-index: 40;

    right: 20%;

    text-align: center;

    height: 0;

    overflow: hidden;

    transition: height 450ms ease-in-out;
}

#Works-Menu a{
    margin: 1em 1em;
    text-decoration: none;
    color: #fff9ea;
}

#Works-Menu a:hover{
    color: #ec703b;
}





/* ////////////////////////////////UNIQUE PAGE CSS BEGINS//////////////////////////////// */

/* Intro Transitions */

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*/////////// 3D Works ///////////*/

#ED-Works{
    position: relative;
    top: 0;

    justify-content: space-between;

    overflow: hidden;
    font-family: "Oswald";
}

/* Project Colors and Sizes */

#ED-project-0{
    height: 47em;
    background-image: linear-gradient(#182444, #131619);
    display: flex;
    justify-content: space-around;
    overflow: hidden;

    position: relative;

}


#ED-project-1{
    height: 47em;
    display: flex;
    justify-content: space-around;
    overflow: hidden;

    position: relative;

}

#ED-project-2{
    height: 45em;
    //background-image: linear-gradient(#000000, #de8f2e);
    //background-color: #000000;
    display: flex;

    position: relative;
    justify-content: space-around;
    text-align: center;
}

#ED-project-3{
    height: 45em;
    //background-image: linear-gradient(#ec703b, #ffca1b);
    //background-color: #000000;
    display: flex;

    position: relative;
    justify-content: space-around;
    text-align: center;
}

/* Project Text */

.ED-project-0-text{
    width: 40%;
    margin-top: 3%;

    -webkit-animation: fadein 3s;
}

.ED-project-0-text h1{
    font-size: 5em;
    color: #fff9ea;


    display: inline;
}

.ED-project-0-text p{
    font-size: 3em;
    color: #fff9ea;
    display: block;
    margin: 0;
}

.ED-project-1-text{
    width: 40%;
    margin-top: 3%;

    -webkit-animation: fadein 3s;
}

.ED-project-1-text h1{
    font-size: 5em;
    color: #fff9ea;


    display: inline;
}

.ED-project-1-text p{
    font-size: 3em;
    color: #fff9ea;
    display: block;
    margin: 0;
}

.ED-project-2-text{
    margin-top: 5%;
    position: relative;


}

.ED-project-2-text h1{
    font-size: 8em;
    color: #fff9ea;

    display: inline;
}

.ED-project-2-text p{
    font-size: 3em;
    color: #fff9ea;
    display: block;
    margin: 0;

}

.ED-project-3-text{
    margin-top: 2%;
    position: relative;

    right: 3%;


}

.ED-project-3-text h1{
    font-size: 8em;
    color: #fff9ea;

    display: inline;
}

.ED-project-3-text p{
    font-size: 3em;
    color: #fff9ea;
    display: block;
    margin: 0;
}

.ED-project-3-text img{
    width: 40%;
}

/* Learn More Button */

.learn-more{
    position: absolute;
    top: 85%;
    left: 45%;

    width: 9em;
    height: 3em;
    background-color: #18244490;


    text-align: center;

    overflow: hidden;
}

.learn-more a{
    position: relative;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff9ea;

    top: .2em;
    right: 0;

    transition: right 400ms ease-in-out;
}

.learn-more:hover{
    background-color: #182444;
}

.learn-more:hover a{
    color: #ec703b;
    right: .2em;
}

.learn-more:hover i{
    color: #ec703b;
    left: 0em;
}

.arrow {
    border: solid #ec703b;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

    position: relative;
    left: 9em;
    transition: left 400ms ease-in-out;
  }

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

/* 3D Model Viewer */

#ED-project-0 .ED-Model{
    height: 70%;

    margin-top: 3%;
    
}

#ED-project-1 .ED-Model{
    height: 70%;

    margin-top: 3%;
    
}

#ED-project-2 .ED-Model{
    height: 100%;
    position: relative;

    left: 3em;

    margin-top: 0%;
    
}

#ED-project-3 .ED-Model{
    height: 100%;
    position: relative;

    bottom: 4.5em;
    right: 10em;

    
}

#ED-project-0 .ED-Model model-viewer{
    position: relative;
    display: inline-block;
    height: 100%;
    border: none;

}

#ED-project-1 .ED-Model model-viewer{
    position: relative;
    display: inline-block;
    height: 100%;
    border: none;

}

#ED-project-2 .ED-Model model-viewer{
    position: relative;
    display: inline-block;
    height: 100%;
    border: none;
    width: 30em;

}

#ED-project-3 .ED-Model model-viewer{
    position: relative;
    display: inline-block;
    height: 100%;
    border: none;
    width: 25em;

}

/* Downwards Arrow */

.arrow-down{
    position: absolute;
    color: #fff9ea;
    font-size: 3em;

    top: 8em;
}

