@font-face {
    font-family: "Downtown";
    src: url("/CSS/Fonts/Forum-Regular.ttf");
  }
  
  *{
    //border: 1px solid red;
    font-family: "Downtown";
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* Cat gif background */
  
  body{
    position: relative;
    background-color: #fff9ea;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    left: -.49em;
    top: -.49em;
  }
  
  /* Header */
  
  #Header{
    display: block;
    position: fixed;
    height: auto;
    overflow: scroll;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #284ca0;
    z-index: 10;

    box-shadow: 2px 2px 5px 1px gray;
  }
  
  #Header img{
    position: relative;
    display: inline-block;
    height: 3em;
    width: 2em;
    top: .7em;
    margin: 0 .5em;
  }
  
  #Header h1{
    display: inline-block;
    color: #fff9ea;
  }
  
  #Header ul{
    position: fixed;
    float: right;
    list-style-type: none;
    top: .7em;
    right: 0em;
    font-size: 20px;
  }
  
  #Header li{
    display: inline;
    color: #fff9ea;
    margin: auto 1.07em;
    transition: color 100ms linear;
  }
  
  #Header li:hover{
    color: #ffc756;
  }

  .Nav a:hover{
    color: #ffc756;
  }
  
  .Nav a{
    display: inline;
    color: #fff9ea;
    transition: color 100ms linear;
    text-decoration: none;
  }
  
  /* "Works" drop down menu */
  
  
  
  #works-nav li{
    display: block;
    position: relative;
    text-align: center;
    right: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
    min-width: 3em;
  }
  
  #works-nav a{
    text-decoration: none;
    color: #fff9ea;
    transition: color 100ms linear;
  }
  
  #works-nav a:hover{
    color: #ffc756;
  }
  
  #works-nav ul{
    background-color: #284ca0;
    position: fixed;
    right: 13.7em;
    top: 2.9em;
    width: 10%;
    overflow: hidden;
    height: 0em;
    transition: height 500ms ease-in .7s;
    min-width: 5em;
  }
  
  #Header #open{
    background-color: transparent;
    display: inline-block;
    height: 4em;
    width: 7em;
    position: fixed;
    top: 1em;
    right: 18.7em;
  }
  
  #Header #open:hover ~ #works-nav ul{
    height: 11em;
    transition: height 500ms ease-out;
  }
  
  #works-nav:hover ul{
    height: 11em;
    transition: height 500ms ease-out;
  }

  /* Project Information Page Starts */

  /* Project Title */

  .project-title{
    width: 60%;
    background-color: #e74425;
    text-align: right;
    margin: 1em 0;
  }

  .project-title h1{
    margin: 1em 1em;
  }

  /* Project Sub Headers */

  .sub-header-1{
   position: relative;
  }

  .sub-header-1 h1{
    float: right;
    background-color: #e74425;
    padding: 1em;
    margin: 1em 0;
    width: 6.5em;
    transition: width 450ms ease-out;
  }

  .sub-header-1 h1:hover{
    width: 55%;
  }

  .sub-header-2{
    position: relative;
   }
 
   .sub-header-2 h1{
     text-align: right;
     background-color: #e74425;
     padding: 1em;
     margin: 1em 0;
     width: 8em;
     transition: width 450ms ease-out;
   }
 
   .sub-header-2 h1:hover{
     width: 55%;
   }

   /* Project Pictures */
  
   .project-picture-one{
    width: 70%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
  }


   .project-picture-one img{
    width: 100%;
    position: relative;
  }

  .project-picture-two{
    width: 70%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    display: inline-block;

    top: 2%;
    right: 90%;

    transition: all 450ms ease-in-out;
  }

  .project-picture-two img{
    width: 100%;
  }

  .project-picture-two:hover{
    right: 30%;
    top: 1%;
  }

  .project-picture-three{
    width: 70%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    display: inline-block;

    top: 2%;
    left: 90%;

    transition: all 450ms ease-in-out;
  }

  .project-picture-three img{
    width: 100%;
  }

  .project-picture-three:hover{
    left: 30%;
    top: 1%;
  }

   /* Project Info */

  #Project-info{
    display: flex;
    position: relative;
    margin: 0 auto;
    top: 6em;
    width: 100%;
    height: auto;
    overflow: hidden;

    flex-direction: column;
    justify-content: space-evenly;
  }

  #Project-info h1{
    color: #fff9ea;
  }

  .project-text{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: .3em;
    overflow: hidden;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    text-align: center;


    flex-shrink: 3;
  }

  .project-text p{
    font-size: 1.3em;
    margin: 1em 1em;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* Phone version css */
  
  @media only screen and (max-width: 500px){
    
  /* Header */
  
  #Header img{
    position: relative;
    display: inline-block;
    height: 3em;
    width: 2em;
    left: 30%;
    top: .7em;
    margin: 0 .5em;
  }
  
  #Header h1{
    position: relative;
    left: 30%;
  }
  
  #Header ul{
    position: fixed;
    top: 3em;
    right: 2em;
  }
  
  #Header{
    height: 7em;
  }
  
  #Header #open{
    background-color: transparent;
    display: inline-block;
    height: 2em;
    width: 7em;
    position: fixed;
    top: 5em;
    right: 21.7em;
  }
  
  /* drop down */
  
  #works-nav ul{
    background-color: #284ca080;
    position: fixed;
    right: 16em;
    top: 4.55em;
    width: 10%;
    overflow: hidden;
    height: 0em;
    transition: height 500ms ease-in .7s;
    min-width: 5em;
  }
  
  
  
  }