<!DOCTYPE html>
<html>
<head>
    <title>Alex's Portfolio</title>
    <link rel="stylesheet" href="/CSS/Homepage.css">
    <link rel="icon" type="image/png" href="/Assets/Browser Icon/Dog.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <!-- ////// HEADER ////// -->
    
    <div id="Header">
        <div class="Column-NS">
            <div id="Logo">
                <img src="Assets/Logos/Logo ver. 1.png" alt="">
            </div>
            <div id="Headings">
                <ul class="Row" id="Header-Links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                    <li><a href="About-Me.html">About Me</a></li>
                    <li id="Nav-Activate">Works</li>
                    <li><a href="/Assets/Resume/Alex Vargas Resume Updated.pdf">Resume</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="Header-Nav-Bar">
        <ul class="Column">
            <li><a href="Short-Films.html">Short Films</a></li>
            <li><a href="Characters.html">Characters</a></li>
            <li><a href="Modeling.html">Modeling</a></li>
        </ul>
    </div>

    <!-- ////// MAIN CONTENT ////// -->
    
    <div id="Main" class="Column">

    </div>

    <!-- ////// FOOTER ////// -->

    <hr id="Footer-Line">
    <div id="Footer">
        <div id="Footer-Left">
            <h3>Copyright&copy; All rights reserved.</h3>
        </div>
        <div id="Footer-Right">
            <a href="">
                <img src="Assets/Icons/Logos/LinkedIn@8x.png" alt="">
            </a>
            <a href="">
                <img src="/Assets/Icons/Logos/Instagram@8x.png" alt="">
            </a>
            <a href="">
                <img src="/Assets/Icons/Logos/Reddit@8x.png" alt="">
            </a>
            <a href="">
                <img src="/Assets/Icons/Logos/Youtube@8x.png" alt="">
            </a>
        </div>
    </div>

    <!-- INSERT SCRIPTS BELOW -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="JS/Nav-Bar.js"></script>
</body>
</html>