/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 10em;
    align-items: center;
}

/* /// MENU /// */

#Menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    text-align: center;

    margin-bottom: 10em;
}

.menu-item{
    width: 17em;
    height: 17em;
    margin: .2em .2em;

    border: 1px transparent solid;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    transition: all .2s;
}

.menu-item:hover{
    border: 1px white solid;
}

.menu-item h1{
    position: absolute;
    top: .7em;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.5em;
    width: 90%;

    background-color: transparent;
}

.menu-item img{
    width: 100%;
}

/* /// INTRO /// */

#Intro{
    text-align: center;
}

/* /// IMAGES /// */

#Image-Container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project-pic{
    width: 20%;

    overflow: hidden;

    border-radius: 10px;
    margin: .1em;
    position: relative;
    border: 1px solid transparent;

    background-color: transparent;

    transition: border .2s;
}

.project-pic:hover{
    border: 1px solid white;
}

.project-pic img{
    height: 100%;
    width: 100%;

    border-radius: 10px;
}

/* /// IMAGE ZOOM /// */

.Image-Zoom{
    position: fixed;
    top: 10em;

    z-index: 100;
}

#Image-Safety{
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.423);
    z-index: 99;
}

/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){

    /* /// MAIN /// */

    #Main{
        top: 5em;
    }

    .Project-Header{
        font-size: 1em;
        text-align: center;
    }

    /* /// MENU /// */

    .menu-item{
        width: 45%;
        height: 10em;
        margin: .7em .5em;
    }

    .menu-item h1{
        font-size: 1.2em;
        width: 90%;
    }

    .menu-item img{
        width: 100%;
    }

    /* /// INTRO /// */

#Intro{
    text-align: center;
    font-size: .6em;
    margin: 0 3em;
}


    /* /// IMAGES /// */

    #Img-Container{
        margin: 0 1em;
    }

    .project-pic:hover{
        border: 1px solid transparent;
    }

    .project-pic{
        width: 40%;
        background-color: transparent;
    }
}