/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 10em;
    align-items: center;
}

/* /// VIDEO CONTAINER /// */

#Info-Container{
    align-items: center;
    width: 99%;
    height: 27em;
}

#Info-Container h1{
    margin-top: 0;
}

#Img-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;

}

#Img-Container img{
    width: 25%;
    border: 1px transparent solid;
    border-radius: 10px;

    transition: border .2s;
}

#Img-Container img:hover{
    border: 1px solid white;
}

#Img-Description{
    font-size: 1.2em;

    width: 82%;
    margin-top: 0em;
}

#Img-Description p{
    margin-top: 0;
}

/* /// 3D CONTAINER ///*/

#ED-Model-Container {
    height: 20em;
    width: 100%;
}

#ED-Model-Container model-viewer{

    height: 20em;
    width: 100%;
}

/* /// IMAGE ZOOM /// */

.Image-Zoom{
    position: fixed;
    top: 10em;

    z-index: 100;
}

#Image-Safety{
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.423);
    z-index: 99;
}

/* /// RELATED /// */

#Related{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 2em;
}

.Related-Work{
    height: 20em;
    width: 40em;

    margin: 0 1em;

    border-radius: 20px;
    border: 1px black solid;

    transition: all .5s;

}

.Related-Work:hover{
    width: 42em;
}

.Related-Work h1{
    text-align: center;
    background-color: transparent;
}

#Featured-1{
    background-image: url("../../Assets/Short Films/Space Girl/Space-Girl-Menu-Img.webp");
    background-size: cover;
    background-position: 1em;
}

#Featured-2{
    background-image: url("../../Assets/Short Films/Space Girl/Space-Girl-Menu-Img.webp");
    background-size: cover;
    background-position: 1em;
}

#Featured-3{
    background-image: url("../../Assets/Short Films/BMO/BMO-Menu-Img.webp");
    background-size: cover;
    background-position: 1em;
}

.menu-item{
    width: 40em;
    height: 20em;
    margin: .5em .5em;

    border: 1px transparent solid;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    transition: all .5s;
}

.menu-item:hover{
    width: 42em;

}

.menu-item h1{
    position: absolute;
    top: .7em;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3em;

    background-color: transparent;
}

.menu-item img{
    width: 100%;
}

/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){

    .Row-S2{
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* /// MAIN /// */

    #Main{
        top: 5em;
    }

    .Project-Header{
        font-size: 1em;
        text-align: center;
    }

    /* /// VIDEO CONTAINER /// */

    #Info-Container{
        width: 100%;
        height: 25em;
    }

    #Img-Container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: center;
    }

    #Img-Container img{
        width: 40%;
        margin: .1em;

        border: 0px transparent solid;

        border-radius: 10px;
    }

    #Img-Container img:hover{
        width: 40%;
        margin: .1em;

        border: 0px transparent solid;
    }

    #Img-Description{
        font-size: 1.2em;
    
        width: 82%;
        margin-top: 1em;
    }

    #Image-Safety{
        display: none;
    
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    
        background-color: rgba(0, 0, 0, 0.423);
        z-index: 99;
    }

    /* /// 3D MODEL /// */

    #ED-Model-Container {
        height: 20em;
        width: 100%;
    }
    
    #ED-Model-Container model-viewer{
    
        height: 20em;
        width: 100%;
    }

    /* /// RELATED /// */

    #Related{
        flex-direction: column;
    }

    .Related-Work{
        margin: 1em 0;

        width: 20em;
    }

    .Related-Work:hover{
        width: 20em;
    }

    .menu-item{
        width: 22em;
        height: 17em;
    }

    .menu-item:hover{
        width: 22em;
    }
    
    .menu-item h1{
        position: absolute;
        top: .7em;
        left: 50%;
        transform: translate(-50%, -50%);
    
        font-size: 3em;
    
        background-color: transparent;
    }
    
    .menu-item img{
        width: 100%;
    }

}