/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 10em;
    align-items: center;
}

/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){

    /* /// MAIN /// */

    #Main{
        top: 5em;
    }

    .Project-Header{
        font-size: 1em;
        text-align: center;
    }
}