/* ///// MAIN CONTENT ///// */

#Main{
    position: relative;
    top: 10em;
    align-items: center;
}

/* /// VIDEO CONTAINER /// */

#Vid-Container{
    align-items: center;
    width: 99%;
    height: 35em;
}

#Vid-Container iframe{
    /* width: 1024px;
    height: 450px; */

    width: 100%;
    height: 100%;
}

#dark-mode-button{
    width: 8em;
    margin-bottom: 1em;
    border-radius: 10px;

    border: 1px solid white;

    
}

#Vid-Description{
    font-size: 1.2em;

    width: 82%;
}

#Vid-Description p{
    margin-top: 0;
}

/* /// RELATED /// */

#Related{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 2em;

}

.Related-Work{
    height: 20em;
    width: 40em;

    margin: 0 1em;

    border-radius: 20px;
    border: 1px black solid;

    transition: all .5s;

}

.Related-Work:hover{
    width: 42em;
}

.Related-Work h1{
    text-align: center;
    background-color: transparent;
}

#Related-1{
    background-image: url("../../Assets/Characters/Rem/Rem-Menu-Img.webp");
    background-size: cover;
    background-position: 1em;
}

#Related-2{
    background-image: url("../../Assets/Characters/BMO/Menu-Img.webp");
    background-size: cover;
    background-position: 1em;
}

#Related-3{
    background-image: url("../../Assets/Short Films/BMO/BMO-Menu-Img.webp");
    background-size: cover;
    background-position: 1em;
}

/* ///// RESPONSIVE DESIGN ///// */

@media (max-width: 830px){


    .Row-S2{
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* /// MAIN /// */

    #Main{
        top: 5em;
    }

    .Project-Header{
        font-size: 1em;
        text-align: center;
    }

    /* /// VIDEO CONTAINER /// */

    #Vid-Container{
        width: 100%;
        height: 25em;
    }

    #dark-mode-button{
        width: 8em;
        height: 4em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 10px;
    
        border: 1px solid white;
    
        
    }

    /* /// RELATED /// */

    #Related{
        flex-direction: column;
    }

    .Related-Work{
        margin: 1em 0;

        width: 20em;
    }

    .Related-Work:hover{
        width: 20em;
    }

    #Related-1{
        background-position: 0;
    }

    #Related-2{
        background-position: 0;
    }

    #Related-3{
        background-position: 0;
    }

}